<div class="admin">
  <button class="button-13" role="button" (click)="openModal = true">
    Vai ad admin
  </button>
</div>
<h2 class="title">30 settembre 2023</h2>
<h2 class="title">Da definire</h2>
<h1>RSVP</h1>

<div class="form">
  <form [formGroup]="form" (ngSubmit)="onConfirm()">
    <label>Nome</label>
    <input
      formControlName="firstname"
      type="text"
      id="fname"
      name="firstname"
      placeholder="Inserisci nome.."
    />

    <label>Cognome</label>
    <input
      formControlName="lastname"
      type="text"
      id="lname"
      name="lastname"
      placeholder="Inserisci cognome.."
    />

    <label for="scelta">Partecipo</label>
    <select formControlName="choice" id="scelta" name="scelta">
      <option value="si">Sì</option>
      <option value="no">No</option>
      <option value="forse">Ancora in dubbio</option>
    </select>
    <div class="button-submit">
      <input [disabled]="!form.valid" type="submit" value="Conferma scelta" />
    </div>
  </form>
</div>

<div *ngIf="openModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="openModal = false">&times;</span>
    <form class="form-pass" [formGroup]="formPass" (ngSubmit)="goToAdmin()">
      <label>Password</label>
      <input
        formControlName="password"
        type="password"
        id="pass"
        name="password"
        placeholder="Inserisci password.."
      />

      <div class="button-submit">
        <input type="submit" value="Vai ad admin" />
      </div>
    </form>
  </div>
</div>
